[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pre-commit = "*"

[packages]
django = "*"
graphene-django = "*"

[pipenv]
allow_prereleases = true
